<div class="section">
  <div class="container">
    <h1><%= @user.name %></h1>

    <h2>Events <%= @user.name %> is hosting</h2>

    <div class="card-container">
      <% @user.events.each do |event| %>
        <div class="card">
          <p>Title: <%= link_to event.title, event_path(event.id) %></p>
          <p>Location: <%= event.location %></p>
          <p>Date: <%= event.date %></p>
        </div>
      <% end %>
    </div>

    <h2>Events <%= @user.name %> is attending</h2>

    <div class="card-container">
      <% @user.attended_events.where("date >= ?", Date.today).order(date: :asc).each do |event| %>
        <div class="card">
          <p>Title: <%= link_to event.title, event_path(event.id) %></p>
          <p>Location: <%= event.location %></p>
          <p>Date: <%= event.date %></p>
        </div>
      <% end %>
    </div>

    <h2>Past events attended</h2>
    <ul class="event-list">
      <% @user.attended_events.where("date < ?", Date.today).order(date: :desc).each do |event| %>
        <li><%= link_to "#{event.title} #{event.date}", event %></li>
      <% end %>
    </ul>

  </div>
</div>
