<h1><%= @user.email %></h1>

<h2>Events <%= @user.email %> is hosting</h2>

<% @user.events.each do |event| %>
  <div style="border-style: solid; margin-bottom: 10px">
    <p>Title: <%= event.title %></p>
    <p>Location: <%= event.location %></p>
    <p>Date: <%= event.date %></p>
  </div>
<% end %>
