<div class="section">
  <div class="container">
    <h1><%= @user.name %></h1>

    <h2>Events <%= @user.name %> is hosting</h2>

    <div class="card-container">
      <% @user.events.each do |event| %>
        <div class="card">
          <p>Title: <%= link_to event.title, event_path %></p>
          <p>Location: <%= event.location %></p>
          <p>Date: <%= event.date %></p>
        </div>
      <% end %>
    </div>

    <h2>Events <%= @user.name %> is attending</h2>

    <div class="card-container">
      <% @user.invitations.includes(:event).each do |invite| %>
        <div class="card">
          <p>Title: <%= link_to invite.event.title, event_path %></p>
          <p>Location: <%= invite.event.location %></p>
          <p>Date: <%= invite.event.date %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
