<div class="form">
  <%= form_with model: @event do |form| %>
    <div class="field">
      <%= form.label :title, "Event Title: " %>
      <%= form.text_field :title, autofocus: true %>
      <% @event.errors.full_messages_for(:title).each do |message| %>
        <div class="error-message"><%= message %></div>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :location, "Location: " %>
      <%= form.text_field :location %>
      <% @event.errors.full_messages_for(:location).each do |message| %>
        <div class="error-message"><%= message %></div>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :date, "Date: " %>
      <%= form.date_field :date %>
      <% @event.errors.full_messages_for(:date).each do |message| %>
        <div class="error-message"><%= message %></div>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :description, "Description:" %>
      <%= form.text_area :description %>
    </div>

    <div class="checkbox-list">
      <%= form.collection_check_boxes(:attendee_ids,
                                      User.all.order(:name),
                                      :id,
                                      :name,
                                      { include_hidden: false }) do |b| %>
        <div class="checkbox-list__field">
          <%= b.check_box %>
          <%= b.label(class: "checkbox-list__label") %>
        </div>
      <% end %>

    </div>


    <%= form.submit class: "button" %>
  <% end %>
</div>