<div class="form">
  <%= form_with model: @event do |form| %>
    <div class="field">
      <%= form.label :title, "Event Title: " %>
      <%= form.text_field :title, autofocus: true %>
    </div>

    <div class="field">
      <%= form.label :location, "Location: " %>
      <%= form.text_field :location %>
    </div>

    <div class="field">
      <%= form.label :date, "Date: " %>
      <%= form.date_field :date %>
    </div>

    <div class="field">
      <%= form.label :description, "Description:" %>
      <%= form.text_area :description %>
    </div>



    <%= form.collection_check_boxes :attendee_ids,
                                    @users,
                                    :id,
                                    :name,
                                    { include_hidden: false } %>

    <%= form.submit class: "button" %>
  <% end %>
</div>