<div class="hero">
  The time is now
</div>
<div class="section">
  <div class="container">
    <h2>Up coming events</h2>
    <div class="card-container">
      <% @future_events.order(:date).each do |event| %>
        <% if event.date >= Date.today %>
          <div class="card">
            <div class="card__header"><%= event.title %></div>
            <div class="card__item"><%= event.location %></div>
            <div class="card__item"><%= event.date %></div>
            <%= link_to "Event details", event, class: "button--outline" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <h2>Past events</h2>
    <ul class="event-list">
      <% @past_events.each do |event| %>
        <% if event.date < Date.today %>
          <li><%= link_to "#{event.title} #{event.date}", event %></li>
        <% end %>
      <% end %>
    </ul>
</div>