<div class="section">
  <div class="container">
    <div class="event-header">
      <h1><%= @event.title %></h1>
    </div>

    <div class="event-details">
      <p>Host: <%= link_to @event.creator.name, "/users/#{@event.creator_id}" %></p>
      <p>Location: <%= @event.location %></p>
      <p>Date: <%= @event.date %></p>
      <div class="event-description">
        <%= @event.description %>
      </div>
    </div>

    <% if user_signed_in? && current_user.id == @event.creator_id %>
      <%= link_to "Update this event",
                  edit_event_path,
                  class: "button" %>
      <% else %>
        <%= link_to "Register for this event",
                    new_invitation_path(event_id: @event.id),
                    class: "button" %>
      <% end %>

    <hr>
    <h2>Attendees:</h2>
    <div class="attendance">
      <% @event.attendees.each do |attendee| %>
        <div class="event-attendee">
          <%= link_to attendee.name, "/users/#{attendee.id}" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
