<div class="section">
  <div class="container">
    <div class="event-header">
      <h1><%= @event.title %></h1>
    </div>

    <div class="event-details">
      <p>Host: <%= link_to @event.creator.name, "/users/#{@event.creator_id}" %></p>
      <p>Location: <%= @event.location %></p>
      <p>Date: <%= @event.date %></p>
      <div class="event-description">
        <%= @event.description %>
      </div>
    </div>

    <% if user_signed_in? && current_user.id == @event.creator_id %>
      <div class="buttons">
        <%= link_to "Update this event",
                    edit_event_path,
                    class: "button" %>
        <%= link_to "Delete event",
                    event_path(@event),
                    data: { turbo_method: :delete,
                            turbo_confirm: "Are you sure?" },
                    class: "button" %>
      </div>
      <% elsif user_signed_in? && current_user.invitations.where("cast(event_id as integer) == ?", @event.id).exists? %>
        <%= link_to "Decline Event",
                    invitation_path(current_user.invitations.where("event_id == ?", @event.id).first.id),
                    data: { turbo_method: :delete,
                            turbo_confirm:"Are you sure?" },
                    class: "button" %>
      <% elsif user_signed_in? %>
        <%= form_with model: @invitation do |form| %>
          <%= form.hidden_field :attendee_id, value: current_user.id %>
          <%= form.hidden_field :event_id, value: @event.id %>
          <%= form.submit "Register for this event",
                          class: "button" %>
        <% end %>
      <% else %>
        <%= link_to "Log in to register for this event",
                    new_user_session_path,
                    class: "button" %>
      <% end %>

    <hr>
    <h2>Attendees:</h2>
    <div class="attendance">
      <% @event.attendees.each do |attendee| %>
        <div class="event-attendee">
          <%= link_to attendee.name, "/users/#{attendee.id}" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
