<h1>Register for <%= @invitation.event.title %></h1>

<p>Current_user: <%= @invitation.attendee.email %></p>
<p>Event: <%= @invitation.event.title %></p>

<%= form_with model: @invitation do |form| %>
  <p>
    <%= form.label :attendee, "Name:" %>
    <%= form.text_field :attendee,
                        value: @invitation.attendee.email,
                        readonly: true %>
  </p>
  <p>
    <%= form.label :event_title, "Event:" %>
    <%= form.text_field :event_title,
                        value: @invitation.event.title,
                        readonly: true %>
  </p>

  <%= form.hidden_field :attendee_id, value: @invitation.attendee.id %>
  <%= form.hidden_field :event_id, value: @invitation.event.id %>

  <%= form.submit %>
<% end %>

