<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification notification--success">
        <%= notice %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification notification--alert">
        <%= alert %>
      </div>
    <% end %>

    <nav class="navbar">
      <div class="navbar__left">
        <div class="navbar__logo">
          <%= link_to "Events!",
                      root_path %>
        </div>
      </div>
      <div class="navbar__menu">
        <% if user_signed_in? %>
          <div class="navbar__item">
            <%= link_to "New Event",
                        new_event_path %>
          </div>
          <div class="navbar__item">
            <%= link_to current_user.name,
                        current_user %>
          </div>
          <div class="navbar__item">
            <%= link_to "Log out",
                        destroy_user_session_path,
                        method: :delete %>
          </div>
        <% else %>
          <div class="navbar__item">
            <%= link_to "Log in",
                        new_user_session_path %>
          </div>
          <div class="navbar__item">
            <%= link_to "Sign up",
                        new_user_registration_path %>
          </div>
        <% end %>
        <a class="navbar__burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
